


<!--Moblie searching start-->
<div class="mobile-searching text-center">
    <div class="cont-search"> <b class="close-search"><img src="/assets/search-close.png" width="35" alt=""></b>

        <div class="search-fields">
            <div class="select-city">
                <select>
                    <option value="1">Select City</option>
                    <option value="2">Jaipur</option>
                    <option value="3">Ajmer</option>
                    <option value="4">Kota</option>
                    <option value="5">Bikaner</option>
                    <option value="6">Jodhpur</option>
                </select>

            </div>
            <p class="or-s">OR</p>
            <div class="searchhome">
                <input class="form-control" placeholder="Search by locality, address..." type="text">
            </div>
            <div class="check-box-"> <b>CATEGORY</b>
                <ul>
                    <li>
                        <input type="radio" id="king" name="selector">
                        <label for="king" class="king firs-op">King</label>
                    </li>
                    <li>
                        <input type="radio" id="queen" name="selector">
                        <label for="queen" class="king second-op">Queen</label>
                    </li>
                    <li>
                        <input type="radio" id="people" name="selector">
                        <label for="people" class="king third-op">Family</label>
                    </li>
                </ul>
            </div>
            <div class="how-long-box">
                <select>
                    <option value="1">How long?</option>
                    <option value="2">Regular Booking</option>
                    <option value="3">Long-Term Booking</option>
                    
                </select>
            </div>
            <div class="check-box- checkbox-for-room"> 
                <b>ROOM</b>
                <ul>
                    <li>
                        <input type="radio" id="private" name="selector-1">
                        <label for="private" class="king second-op">PRIVATE</label>
                    </li>
                    <li>
                        <input type="radio" id="shared" name="selector-1">
                        <label for="shared" class="king third-op">SHARED</label>
                    </li>
                </ul>
            </div>
            <div class="search-box">
                <button class="search-btn" type="submit">Search</button>
            </div>
        </div>  

    </div>
</div>
<!--Moblie searching start-->

<div class="main-section" id="top-scroll-head"> 
    <!-- Header Start -->

    <!-- Banner Start -->
    <section class="banner clearfix">

<%= form_tag search_listing_path, method: :get do %>
        <div class="container hidden-xs">
            <h1>Search Through Best Hostels &amp; Hotels</h1>
            <ul>
                <li class="clearfix">

                    <div class="citybox clearfix">                        
                        <%= select_tag "filter[city]", options_for_select(City.active.order('name ASC').pluck(:name, :id)), {include_blank: "Select City"} %>
                    </div>

                    <div class="searchhome">
                        <%= text_field_tag "filter[address]", "", placeholder: "Search by locality, address...", class: "form-control" %>
                    </div>

                    <div class="couple-box">
                        <%= select_tag "filter[room_for]", options_for_select(Room::ROOM_FOR), {include_blank: "King / Queen / Family"} %>
                    </div>

                    <div class="duration-box">
                        <select>
                            <option value="1">Duration</option>
                            <option value="2">Regular Booking</option>
                            <option value="3">Long-Term Booking</option>
                        </select>
                    </div>

                    <div class="search-box">
                        <button class="search-btn" type="submit" >
                            <i class="fa fa-search hidden-sm hidden-xs" aria-hidden="true">
                            </i>
                            <span class="hidden-md hidden-lg">Search
                            </span>
                        </button>
                    </div>

                </li>
            </ul>
            <div class="text-center start-txt text-uppercase">
                Starting at Rs 399* only
            </div>
            <div class="down-aros text-center"> 
                <a href="#a" onClick="return false" class="scroll">
                    <i class="arrow-down"><img src="/assets/down-arrow.png" alt=""></i>
                </a> 
            </div>
        </div>

        <div class="container hidden-lg hidden-md hidden-sm">
            <div class="mobile-searchin-sec text-center">
                <h5>Welcome <Br>
                To <Br>
                Stayhook</h5>
                <button type="button" class="show-firm-se">Search 
                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use search">
                    </i>
                </button>
                <div class="text-center start-txt text-uppercase">
                    Hook Your Stays<Br>
                    Starting at? <Br>
                    Just Rs 399* only
                </div>
                <div class="down-aros text-center"> 
                    <a href="#a" onClick="return false" class="scroll">
                        <i class="arrow-down">
                            <img src="/assets/down-arrow.png" alt="">
                        </i>
                    </a> 
                </div>
            </div>
        </div>
<% end %>
    </section>

    <!-- Where to Start -->
    <section class="clearfix wherewrap" id="a">
        <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs">
            <h2>Amazing Experience <i></i></h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="ovver-images ofer-img-1">
                            <div class="ove-text-in">
                                <p>ROOMS  FOR <Br>
                                KINGS</p>
                                <a href="<%= search_listing_path %>?filter[room_for]=King">LOOK</a> 
                            </div>
                            <img src="/assets/roomforking-img.jpg" alt="ROOMS  FOR KINGS"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="ovver-images ofer-img-1">
                            <div class="ove-text-in">
                                <p>ROOMS  FOR <Br>
                                QUEENS</p>
                                <a href="<%= search_listing_path %>?filter[room_for]=Queen">LOOK</a> 
                            </div>
                            <img src="/assets/roomforking-img1.jpg" alt="ROOMS  FOR KINGS"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="ovver-images ofer-img-1">
                            <div class="ove-text-in">
                                <p>ROOMS <Br>
                                FOR  COUPLES</p>
                                <a href="<%= search_listing_path %>?filter[room_for]=Couple">LOOK</a> 
                            </div>
                            <img src="/assets/roomforking-img2.jpg" alt="ROOMS  FOR KINGS"> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="ovver-images ofer-img-1">
                            <div class="ove-text-in">
                                <p>ROOMS <Br>
                                FOR  FAMILIES</p>
                                <a href="<%= search_listing_path %>?filter[room_for]=Couple">LOOK</a> 
                            </div>
                            <img src="/assets/roomforking-img3.jpg" alt="ROOMS  FOR KINGS"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Feature Start -->
    <section class="featurewrap clearfix hidden-xs">
        <div class="container">
            <h2>Features</h2>
            <ul>
                <li class="botbdr">
                    <center>
                        <img src="/assets/spacemen-icon.png" alt="Spacemen">
                    </center>
                    <h3>Spacemen</h3>
                    <p>She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
                </li>
                <li class="botbdr">
                    <center>
                        <img src="/assets/sun-icon.png" alt="Sun">
                    </center>
                        <h3>Sun</h3>
                        <p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
                </li>
                <li class="botbdr rightbdr">
                    <center>
                        <img src="/assets/time-icon.png" alt="Time">
                    </center>
                    <h3>Time</h3>
                    <p>Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
                </li>
                <li>
                    <center>
                        <img src="/assets/moon-icon.png" alt="Moon">
                    </center>
                    <h3>Moon</h3>
                    <p>This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
                </li>
                <li>
                    <center>
                        <img src="/assets/wind-icon.png" alt="Wind">
                    </center>
                    <h3>wind</h3>
                    <p>Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                </li>
                <li class="rightbdr">
                    <center>
                        <img src="/assets/radio-icon.png" alt="Radio">
                    </center>
                    <h3>Radio</h3>
                    <p>A hundred thousand grateful loves to your dear papa and mamma.</p>
                </li>
            </ul>
        </div>
    </section>

    <!-- Support Start -->
    <section class="supportwrap clearfix">
        <div class="container">
            <ul>
                <li>
                    <h2>Customer support</h2>
                    <p>If you need help while traveling or hosting, contact us at our toll free number: 00 08004405103</p>
                </li>
                <li>
                    <h2>AMAZING EXPERIENCE</h2>
                    <p>Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</p>
                </li>
                <li>
                    <h2>vERIFID ID</h2>
                    <p>We aim to build a trusted community by giving you more info when you're deciding who to host or stay with.</p>
                </li>
            </ul>
        </div>
    </section>
</div>

