<div class="sibn-up-host" id="top-scroll-head">
    <div class="banner-image-host text-center">
        <h5 class="box-titl">Sign Up</h5>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
    </div>

    <div class="container">
        <div class="login-secton">     
            <%= form_for(@vendor_request, url: save_vendor_request_path(@vendor_request), html: { method: :post, :id => "vendor_request" }) do |f| %>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>First Name</label>
                                <%= f.text_field :first_name, autocomplete: "off", class: 'form-control', id: 'first_name', placeholder: '' %>
                              
                                <span class="error"><%= @vendor_request.errors[:first_name].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Last Name</label>
                                <%= f.text_field :last_name, autocomplete: "off", class: 'form-control', id: 'last_name', placeholder: '' %>
                                <span class="error"><%= @vendor_request.errors[:last_name].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>CITY</label>
                                <%= f.select :city_id, options_for_select(City.active.order('name ASC').pluck(:name, :id), params[:vendor_request].present? ? params[:vendor_request][:city_id] : ''), {include_blank: 'Select City Name'} %>
                                <span class="error"><%= @vendor_request.errors[:city_id].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>
                    
                          <div class="clearfix"></div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>E-MAIL</label>
                                <%= f.email_field :email, autocomplete: "off", class: 'form-control', id: 'email', placeholder: '' %>
                                <span class="error"><%= @vendor_request.errors[:email].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>

                        <div class="col-sm-4">
                           <div class="form-group">
                                <label>Phone</label>
                                <%= f.text_field :phone_number, autocomplete: "off", class: 'form-control', id: 'phone_number', placeholder: '' %>
                                <span class="error"><%= @vendor_request.errors[:phone_number].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>
                    
                        <div class="col-sm-4">
                            <div class="form-group address-tex">
                                <label>Address</label>
                                <%= f.text_area :address, autocomplete: "off", class: 'form-control', id: 'address', placeholder: '' %>
                                <span class="error"><%= @vendor_request.errors[:address].first if @vendor_request.errors.any? %></span>
                            </div>
                        </div>
                      
                    </div>
                    <hr class="mid-lin">
                    <div class="form-group fix-width-button">
                        <button type="submit" class="submit-button" value="Save" name="commit">Get started</button>
                    </div>
                </div>
            <% end %>   
        </div>
    </div>
 
</div>

<script type="text/javascript">
  $(document).ready(function(){
       
    var validator = $("#vendor_request").validate({
      ignore: ':hidden:not(select)',
      errorElement: 'span',
      errorClass: 'error',
      rules: {
        "vendor_request[email]": {
          required: true,
          email: true
        },
        "vendor_request[first_name]": {
          required: true
        },
        "vendor_request[phone_number]": {
          required: true
        },
        "vendor_request[address]": {
          required: true
        },
         "vendor_request[city_id]": {
          required: true
        },
      },
      messages: {
        "vendor_request[email]": {
          required: "Email can't be blank",
          email: "Please enter a valid email address"
        },
        "vendor_request[first_name]": {
          required: "First name can't be blank"
        },  
        "vendor_request[address]": {
          required: "Address can't be blank"
        },
         "vendor_request[city_id]": {
          required: "City can't be blank"
        },
        "vendor_request[phone_number]": {
          required: "Phone number can't be blank"
        }
      },
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });
</script>