

<div class="dashbord-sec"> 
  
  
  <!-- dashboard-secn -->
  <div class="lower-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7 booking_cmplt">
        	<div class="img"><img src="/assets/chk_icon.png" alt=""/> </div>
            <h2>Your Booking is Now Complete</h2>
            <h1>Thank you for booking with us.</h1>
            <p>You will recieve a mail and a sms confirmation.</p>
            
            <div class="qr_panel">
            	<div class="qr_img">
            		<img src="/assets/qr_img.png"alt=""/>
                </div>
                <div class="btc">
                <div class="booking_id">
                	<h2>Booking ID</h2>
                    <h1><%= @booking_detail.id %></h1>
                </div>
                </div>
                <div class="row">
                	<div class="col-lg-12 bk_dt">
                    	<p><strong>Date Booked :</strong> <%= @booking_detail.created_at.to_date %></p>
                        <h1>Booked By : <%= @booking_detail.name %></h1>
                        <p>Email : <%= @booking_detail.email %><br>
                        	Phone : <%= @booking_detail.phone_no %>
                        </p>
                    </div>
                </div>
                
            </div>
          
        </div>
        <div class="col-md-5 hidden-xs hidden-sm ">
        	<div class="pmt_d_box">
            	<h1>Payment Details</h1>
                </br>
                <p><strong>Room Price :</strong><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i><em><%= @room_data.room_price %></em> </p>
                <p><strong>Discount Amount :</strong><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i><em><%= @booking_detail.discount %></em> </p>
                <p><strong>Net Amount :</strong><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i><em><%= @booking_detail.net_amount %></em> </p>
                <p><strong>Amount Paid :</strong><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i><em><%= @booking_detail.amount_paid %></em> </p>
                <p><strong>Amount Due :</strong><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i><em><%= @booking_detail.amount_due %></em> </p>
            </div>
            <a href="" class="view_cancel_bt">VIEW CANCELLATION POLICY</a>
        	
        </div>
        
        
        <div class="col-md-12">
        	<div class="bc_dt">
            	<%= @booking_detail.check_in_date %> - <%= @booking_detail.check_out_date %><br><span><%= @booking_detail.no_of_guests %> Persons - <%= @room_data.room.room_for %></span>
            </div>
        </div>
      </div>
      
      <div class="row map_row">
      	<div class="col-lg-12">
      		
        
        	<div class="map_pnl">
        	<img src="/assets/map_img.jpg" alt="map" class="img-responsive">
        </div>
        
        	<div class="map_info">
        	<h1>HOTEL INFO</h1>
            <p><%= @hotel_data.address %>, <%= @hotel_data.city.name %></p>

<div class="ct_info">
	<%= @hotel_data.phone_number %>
</div>

<h1>HOW TO GET THERE</h1>
            <p>There are many variations of passages of
 Lorem Ipsum available, but the majority
 have suffered alteration in some form.</p>
        </div>
        </div>
        
        
      </div>
      
      <div class="row hidden-md hidden-lg ">
      		<div class="col-md-5">
        	<div class="pmt_d_box">
            	<h1>Payment Details</h1>
            </div>
            <a href="" class="view_cancel_bt">VIEW CANCELLATION POLICY</a>
        	
        </div>
      </div>
      
    </div>
  </div>
 
</div>
