<script type="text/javascript">

$.fn.raty.defaults.path = '<%= root_url+'assets' %>';
</script>
<div class="pos-rel"> 
    <div class="main-section" id="top-scroll-head"> 

        <!-- Banner Start -->
        <section class="hotels-banner detil-slider">
            <% if @hotels_detail.images.present? %>
                <div class="main-top-detail-slider">
                    <div class="slider top-main-slider">
                        <% @hotels_detail.images.each do |img| %>
                            <div class="fir-main-slider"> 
                                <%= image_tag img.image.background_image.url, class: 'hidden-xs' %>
                            </div>
                        <% end %> 
                    </div>
                    <div class="slider top-thumb-slider">
                        <% @hotels_detail.images.each do |img| %>
                            <div class="fir-tyumb">
                                <%= image_tag img.image.list_small.url, class: 'img-responsive' %>        
                            </div>
                        <% end %> 
                    </div>
                </div>
            <% end %> 
            <div class="clearfix booking-head-star">
                <h5>StayHook <%= @hotels_detail.room_for %> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h5>
                <p><img src="/assets/locationicon.png" width="26" height="25" alt="Location"> <%= @hotels_detail.vendor.address %>, <%= @hotels_detail.vendor.try(:city).try(:name) %>, India</p>
                <h5><%= @hotels_detail.room_number %></h5>
            </div>
            <div class="booking-price"> 
                <i class="fa fa-inr" aria-hidden="true"></i><%= @hotels_detail.price %> <span>From / <%= @hotels_detail.price_charge_type %></span>
            </div>
        </section>

        <!-- Container Start -->
        <section class="detail-page-contents hotelswrap clearfix pos-rel">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="clearfix leftPanel">
                            <div class="detail-mor-menus nobbackground nomargin">
                                <ul>
                                  <li><a href="#Features1">Features</a></li>
                                  <li><a href="#photos">Photos</a></li>
                                  <li><a href="#Reviews">Reviews</a></li>
                                  <li><a href="#map">Map</a></li>
                                </ul>
                            </div>
                            <div class="clearfix booking-head-star-mobile hidden-lg hidden-md">
                                <h5>StayHook Family <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></h5>
                                <p><img src="/assets/locationicon.png" width="26" height="25" alt="Location"> Alpha I, Greater Noida, India</p>
                                <div class="sharewrap">
                                    <div class="dropdown">
                                        <button data-toggle="dropdown" type="button" aria-expanded="false"><i aria-hidden="true" class="fa fa-share-alt"></i></button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                          <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i aria-hidden="true" class="fa fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="type-room text-center" id="Features1">
                                <ul>
                                <% if @hotels_detail.no_of_bed==1  %>
                                    <li>
                                        <center>
                                          <img src="/assets/single-icon.png" alt="Single Bed">
                                        </center>
                                        <div class="marginT10">Single Bed</div>
                                    </li>
                                <% end %>
                                <% if @sub_cat.present?  %>
                                <li>
                                    <center>
                                      <img src="/assets/private-icon1.png" alt="Private Room">
                                    </center>
                                    <div class="marginT10"><%= @sub_cat.name %> Room</div>
                                </li>
                                <% end %>
                                <% if @hotels_detail.accommodate.present?  %>
                                    <li>
                                        <center>
                                          <img src="/assets/tworoom-icon.png" alt="Two Guests">
                                        </center>
                                        <div class="marginT10"><%= @hotels_detail.accommodate %> Guests</div>
                                    </li>
                                <% end %>
                                </ul>
                            </div>
                            <div class="amenitieswrap clearfix">
                                <div class="col-md-3 col-sm-4 col-xs-12 ame-txt">Amenities</div>
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <div class="row">
                                        <% if @hotels_detail.present? %>
                                        <ul>
                                            <%  @amenities_data.each_with_index do |e, i| %>
                                                    <li class="facility-txt">
                                                        <%= image_tag e.image.icon.url, alt: e.name, class: 'icon-img' %>
                                                        <%= e.name %>   
                                                    </li>
                                            <%  end %>

                                        </ul>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <% if @hotels_detail.description.present? %>
                            <div class="amenitieswrap clearfix">
                                <div class="col-md-3 col-sm-12 col-xs-12 ame-txt">Description</div>
                                <div class="col-md-9 col-sm-12 col-xs-12 descriptionwrap">
                                    <div class="row">
                                        <p><%= @hotels_detail.description %></p>
                                       
                                    </div>
                                    <button type="button" class="book-mobile">BOOK NOW</button>
                                </div>
                            </div>
                            <% end %>
                            <div class="amenitieswrap clearfix">
                                <div class="col-md-3 col-sm-12 col-xs-12 ame-txt">Space Type</div>
                                <div class="col-md-9 col-sm-12 col-xs-12 descriptionwrap">
                                    <div class="row">
                                        <ul class="space-tup">
                                          <li>Accomadate: <b><%= @hotels_detail.accommodate %></b></li>
                                          <li>Bedroom: <b><%= @hotels_detail.no_of_bedroom %></b></li>
                                          <li>Beds: <b><%= @hotels_detail.no_of_bed %></b></li>
                                          <li>Bathroom: <b><%= @hotels_detail.no_of_bathroom %></b></li>
                                          
                                            <li><em>Couples:</em> 
                                                <% if @hotels_detail.couples_allowed == true %>
                                                    <b>Allowed</b>
                                                <% else %>
                                                    <b>Not Allowed</b>
                                                <% end %>
                                            </li>
                                          
                                            <li><em>Family:</em>
                                                <% if @hotels_detail.family_allowed == true %>
                                                    <b>Allowed</b>
                                                <% else %>
                                                    <b>Not Allowed</b>
                                                <% end %>
                                            </li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% if @hotels_detail.house_rules.present? %>
                            <div class="amenitieswrap clearfix">
                                <div class="col-md-3 col-sm-12 col-xs-12 ame-txt">House Rules</div>
                                <div class="col-md-9 col-sm-12 col-xs-12 descriptionwrap">
                                    <div class="row">
                                        <div class="hous-rols">
                                          <p><%= @hotels_detail.house_rules %></p>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <% if @hotels_detail.cancellation_policy.present? %>
                            <div class="amenitieswrap clearfix">
                                <div class="col-md-3 col-sm-12 col-xs-12 ame-txt">Cancellation Policy</div>
                                <div class="col-md-9 col-sm-12 col-xs-12 descriptionwrap">
                                    <div class="row">
                                        <div class="hous-rols">
                                            <p><%= @hotels_detail.cancellation_policy %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                            <% if @hotels_detail.images.present? %>
                            <div class="photowrap clearfix" id="photos">
                                <h2>Photos</h2>
                                <div class="slider photobooking">
                                <% @hotels_detail.images.each do |img| %>
                                  <div><a class="example-image-link" href="<%= img.image.small.url %>" data-lightbox="example-1"><img src="<%= img.image.list_similar.url %>" class="img-responsive" alt="Photo"></a></div>
                                  <% end %> 
                                </div>
                            </div>
                            <% end %>
              
                            <div class="clearfix reviewwrap" id="Reviews">
                                <h2>Review</h2>
                                <div class="reivewpost clearfix">
                                    <% if current_user.present? %>
                                        <div class="reviewleft">
                                            <img src="<%= current_user.image %>" class="img-responsive img-circle" alt="Profile">
                                        </div>
                                    <% end %>
                                   

                                        <div class="reviewright clearfix">
                                            
                                            <div class="form-group">
                                            <input type="text" name="name" placeholder="Name" id="name" class="form-control reviewinput">
                                            <input type="hidden" name="room_id" id="room_id" value="<%= @hotels_detail.id %>">
                                           
                                            
                                            <input type="hidden" name="user_id" id="user_id" value="<%= @user_id %>">
                                            <input type="hidden" name="rating" id="ratingvalue" >
                                                
                                            </div>
                                            <div class="form-group">
                                            <textarea class="form-control comment-area" name"review" id="review" placeholder="Write your comment..."></textarea>
                                               
                                                <div class="reviewpost clearfix">
                                                    <div class="pull-left reivew-txt">
                                                        Rating 
                                                        
                                                        <div class="rating" id='show_user_rating_star'></div>
                                                    </div>
                                                    <div class="pull-right">
                                                        <button type="submit" id="review_submit" class="blue-btn">Submit <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                </div>
                                <div class="demo" id="normal">
                                    <% if @review_data.present? %>

                                        <% @review_data.each do |review_data| %>
                                        <div class="reivewpost clearfix">
                                            
                                            <div class="reviewleft">
                                                <img src="<%= review_data.user.image %>" class="img-responsive img-circle" alt="Profile">
                                            </div>
                                            <div class="reviewright clearfix">
                                                <div class="comment-txt"><%= review_data.created_at.to_date %></div>
                                                <div class="comment-title">
                                                    <span><%= review_data.name %></span>
                                                    <input type="hidden" name="rating" class="ratingval" value="<%= review_data.rating %>"> 
                                                    <div class="rating user_rating_star" id="user_rating_star_<%= review_data.id %>"></div>
                                                    <script type="text/javascript">
                                                    $('#user_rating_star_<%= review_data.id %>').raty({ score: <%= review_data.rating %> , readOnly: true});
                                                    </script>
                                                </div>
                                                <div class="comment-indent">
                                                    <%= review_data.review %>    
                                                </div>
                                                <div class="comment-help"> 
                                                    <a href="#" class="report"><i class="fa fa-mail-reply-all" aria-hidden="true"></i> Report</a> <a href="#" class="help"><i class="fa fa-file-image-o" aria-hidden="true"></i> Helpful</a> 
                                                </div>
                                            </div>

                                        </div>
                                        <% end %>

                                        <% if @r_data.count>3 %>
                                            <button class="load-btn" id="load_more" type="button">Load more <i class="fa fa-plus" aria-hidden="true"></i></button>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="test hidden" id="more">
                                    <% @review_data1.each do |review_data| %>
                                    <div class="reivewpost clearfix" >
                                        
                                        <div class="reviewleft">
                                            <img src="<%= review_data.user.image %>" class="img-responsive img-circle" alt="Profile">
                                        </div>
                                        <div class="reviewright clearfix">
                                            <div class="comment-txt"><%= review_data.created_at.to_date %></div>
                                            <div class="comment-title">
                                                <span><%= review_data.name %></span> 
                                                <input type="hidden" name="rating" class="ratingval" value="<%= review_data.rating %>"> 
                                                <div class="rating user_rating_star" id="user_rating_star1_<%= review_data.id %>"></div>
                                                <script type="text/javascript">
                                                $('#user_rating_star1_<%= review_data.id %>').raty({ score: <%= review_data.rating %> , readOnly: true});
                                                </script>
                                            </div>
                                            
                                            <div class="comment-indent">
                                                <%= review_data.review %>    
                                            </div>
                                            <div class="comment-help"> 
                                                <a href="#" class="report"><i class="fa fa-mail-reply-all" aria-hidden="true"></i> Report</a> <a href="#" class="help"><i class="fa fa-file-image-o" aria-hidden="true"></i> Helpful</a> 
                                            </div>
                                        </div>

                                    </div>
                                    <% end %> 
                                    <button class="load-btn" id="view_less" type="button">View Less <i class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>
                            </div>
                                
                        </div>

                    </div>
                        <%= form_tag booking_path, method: :post, :id => "booking_form" do %>
                            <div class="col-md-5 col-sm-12 col-xs-12 pernight detail-pernight booking-right new-booking-right">
                                <div class="panel panel-default nobg">
                                    <div class="panel-body">
                                        <div class="book-search-block clearfix"> 
                                            <b class="close-search"><img width="35" alt="" src="/assets/search-close.png"></b> 
                                        </div>
                                        <div class="clearfix check-wrap">
                                            <div class="row">
                                                <div class=" clearcheck-in bor-righ">
                                                    <label>Check -in</label>
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' name="check_in" class="form-control"  id='datetimepicker1_input'/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                        <span class="error"><%= @msg %></span>
                                                    </div>
                                                    <!-- <div class="date-pic-cal input-group date" id="datetimepicker1" data-date="d M yyyy" data-date-format="d M yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                        <input type='text' id="check_indate" class="form-control" placeholder="01 Jan 2017"/>
                                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span> </span> 
                                                    </div> -->
                                                </div>
                                                <div class=" clearcheck-in bor-righ">
                                                    <label>Check -out</label>
                                                    <div class='input-group date' id='datetimepicker2'>
                                                        <input type='text' class="form-control" name="check_out" id='datetimepicker2_input'/>
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    <!-- <div class="date-pic-cal input-group date" id="datetimepicker2" data-date="d M yyyy" data-date-format="d M yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                        <input type='text' class="form-control" placeholder="05 Jan 2017" />
                                                        <span class="input-group-addon"> 
                                                            <span class="glyphicon glyphicon-calendar"></span> 
                                                        </span> 
                                                    </div> -->
                                                </div>
                                                <% if @cat.name != "Long Term" %>
                                                <div class=" clearcheck-in guest-">
                                                    <label>Rooms</label>
                                                    <select name="room">
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                    </select>

                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="room-booking-sec">
                                            <div class="rook-booking-drop">
                                                <div class="room-guest-">
                                                <center><img width="35px" src="/assets/guest-1.png" alt=""></center>
                                                <p><%= @hotels_detail.accommodate %> GUESTS</p>
                                            </div>
                                            <div class="room-guest-">
                                                <center><img width="35px" src="/assets/guest-2.png" alt=""></center>
                                                <p><%= @hotels_detail.no_of_bedroom %> ROOMS</p>
                                            </div>
                                            <div class="room-guest-">
                                            <span>
                                               
                                                <i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i>
                                                <em><%= @hotels_detail.price %></em>
                                            </span>
                                            <b><%= @hotels_detail.price_charge_type %></b>
                                        </div>
                                    </div> 
                                    <% if @cat.name != "Long Term" %>               
                                        <div class="field-open-sec" style="display:none;">
                                            <div class="form-add-sec">
                                                <div class="room-guest-">
                                                    <b class="padt">ROOM 1</b>
                                                </div>
                                                <div class="room-guest-">
                                                    <div class=" clearcheck-in guest-">
                                                        <label>Guests</label>
                                                        <select name="accommodate">
                                                          <option value="1">01</option>
                                                          <option value="2">02</option>
                                                          <option value="3">03</option>
                                                          <option value="4">04</option>
                                                          <option value="5">05</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="room-guest-">
                                                    <span>
                                                        <i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i>
                                                        <em><%= @hotels_detail.price %></em>
                                                    </span>
                                                    <b><%= @hotels_detail.price_charge_type %></b>
                                                </div>
                                            </div>
                                            <div class="add-delete-form">                
                                                <a href="#">ADD ROOM</a>
                                                <a href="#">DELETE ROOM</a>
                                            </div>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="clearfix total-payment nopad">
                                    <h4>Optional</h4>
                                    <div class="row">
                                        <div class="col-md-7 col-sm-6 col-xs-8">
                                            <input type="text" class="form-control" id="coupon_code" placeholder="Promo Code Here">
                                            <input type="hidden" value="@user_id" class="form-control" id="user_id">
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-xs-4">
                                            <button class="apply-btn blue" id="apply" type="button">Apply</button>
                                        </div>
                                    </div>
                                </div>
                                 <input type="hidden" class="form-control" name="discount_price" id="discount_price">
                                 <input type="hidden" class="form-control" name="coupon_code" id="coupon_data">
                                 <input type="hidden" class="form-control" value="<%= @hotels_detail.no_of_bedroom %>" name="no_of_rooms" id="no_of_rooms">
                                 <input type="hidden" class="form-control" value="<%= @hotels_detail.accommodate %>" name="no_of_guests" id="no_of_guests">
                                 <input type="hidden" class="form-control" value="<%= @hotels_detail.id %>" name="room_id" id="room_id">
                                 


                                <div class="clearfix BookingDetails">
                                    <h4>Booking Details</h4>
                                    <div class="bookingindent clearfix">
                                        <div class="row">
                                            <div class="col-md-7  col-sm-7 col-xs-7 marginb25">Booking Price</div>
                                            <input type="hidden" value="<%= @hotels_detail.price %>" class="form-control" name="price" id="price">
                                            <div class="col-md-5 text-right col-sm-5 col-xs-5 marginb25"><i class="fa fa-inr" aria-hidden="true"></i><%= @hotels_detail.price %></div>
                                            <input type="hidden" name="discount_value" class="form-control" id="discount_value">
                                            <input type="hidden" name="discount_type" class="form-control" id="discount_type">
                                            <div class="col-md-7  col-sm-7 col-xs-7 marginb25" id="coupondata" >Discount</div>
                                            <div class="col-md-5 text-right col-sm-5 col-xs-5 marginb25">- <i class="fa fa-inr" aria-hidden="true"></i><span id="discount-val-span">0</span></div>
                                            <input type="hidden" value="<%= @hotels_detail.price %>" name="total_price" class="form-control" id="total_price">

                                            <div class="col-md-7  col-sm-7 col-xs-7 marginb25 total-txt">Total
                                                <div class="taxes-txt">(Inclusive of Taxes)</div>
                                            </div>
                                            <div class="col-md-5 text-right col-sm-5 col-xs-5 marginb25 total-txt"><i class="fa fa-inr" aria-hidden="true"></i><span id="total-val-span"><%= @hotels_detail.price %></span></div>
                                        </div>
                                    </div>
                                </div>
                                <% if @cat.name != "Long Term" %>
                                    <div class="clearfix paynowwrap">
                                      <input id="4" class="magic-checkbox" name="amount_paid" type="checkbox" value="50">
                                      <label for="4"> Pay 50% Now <img src="/assets/faq-icon.jpg" alt="Faq"></label>
                                    </div>
                                <% end %>
                                <% if @cat.name == "Long Term" %>
                                    <div class="clearfix paynowwrap">
                                      <input id="4" class="magic-checkbox" name="amount_paid" type="checkbox" value="10">
                                      <label for="4"> Pay 10% Now <img src="/assets/faq-icon.jpg" alt="Faq"></label>
                                    </div>
                                <% end %>
                                <div class="agreebox clearfix">
                                    <% if @hotels_detail.room_for=="King" %>
                                        <div class="form-group clearfix">
                                            <input id="5" class="magic-checkbox" type="checkbox">
                                            <label for="5"> I’m male</label>
                                        </div>
                                    <% end %>
                                    <% if @hotels_detail.room_for=="Queen" %>
                                        <div class="form-group clearfix">
                                            <input id="5" class="magic-checkbox" type="checkbox">
                                            <label for="5"> I’m female</label>
                                        </div>
                                    <% end %>
                                    <div class="form-group clearfix">
                                        <input id="6" class="magic-checkbox" type="checkbox">
                                        <label for="6"> I here by agree to <a href="#"><u>Terms</u></a> and <a href="#"><u>Conditions</U></a>.</label>
                                    </div>
                                    <div class="gues-main-title hidden-lg hidden-md hidden-sm">
                                        <h5>Guest Info</h5>
                                        <div class="giest-inforn">
                                            <i>Full Name</i>
                                            <b>Mr. Jonas</b>
                                        </div>
                                        <div class="giest-inforn">
                                            <i>Mobile Number</i>
                                            <p>+91 879 4789 122</p>
                                        </div>
                                        <div class="giest-inforn">
                                            <i>Email</i>
                                            <b>Jbreslin@email.com</b>
                                        </div>
                  
                                        <div class="mob-butons">
                                            <div class="pricing-sec-gues">
                                              <i>INR 1,098</i> <b>INR 765</b>
                                              <p>PER / NIGHT</p>
                                            </div>
                                            <div class="bok-no-gues">
                                                <a href="#"><img src="/assets/buy-now.png" alt=""><p>Book Now</p></a>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="blue-btn hidden-xs" id="check_available">BOOK NOW</button>
                                </div>
                            </div>
                        <% end %>
                        </div>

                    <script>
                        $(document).ready(function(){
                           $.ajax({
                                type: "post",
                                url: "<%= check_save_like_path %>" ,
                                data: {'room_id': '<%= @hotels_detail.id %>','user_id': '<%= @user_id %>'},
                               success: function(data){
                                 if(data.res == 1) {
                                      $('#post_fav_button_'+<%= @hotels_detail.id %>+'_'+<%= @user_id %>).addClass('hidden');
                                      $('#post_disfav_button_'+<%= @hotels_detail.id %>+'_'+<%= @user_id %>).removeClass('hidden');
                                  }else{
                                       $('#post_fav_button_'+<%= @hotels_detail.id %>+'_'+<%= @user_id %>).removeClass('hidden');
                                       $('#post_disfav_button_'+<%= @hotels_detail.id %>+'_'+<%= @user_id %>).addClass('hidden');
                                  }
                                }
                            });
                        });
                    </script>
                <div class="sharebox clearfix">
                    <button class="favourite-btn" type="button"> REQUEST A VISIT</button>
                    <button  id='post_fav_button_<%= @hotels_detail.id %>_<%= @user_id %>' class="favourite-btn" type="button"><i class="fa fa-heart" aria-hidden="true"></i> Add to Favourites</button>
                    <button id='post_disfav_button_<%= @hotels_detail.id %>_<%= @user_id %>' class="favourite-btn hidden" type="button"><i class="fa fa-heart" aria-hidden="true"></i> Remove from Favourites</button>
                    <h4>Share On</h4>
                    <div class="clearfix shareon text-center"> 
                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="#" class="googleplus"><i class="fa fa-google-plus" aria-hidden="true"></i></a> <a href="#" class="tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a> 
                    </div>
                </div>
            </div>
        </section>

        <!-- Location Map Start -->
        <section class="clearfix locationwrap detail-map" id="map">
            <div class="container pos-rel">
                <div class="row">
                    <div class="col-md-12 nearby-txt">Nearby Places</div>
                    <div class="clearfix maprestwrap">
                        <ul class="scroll">
                          <li><a href="#" class="active">Restaurants</a></li>
                          <li><a href="#">Metro</a></li>
                          <li><a href="#">Bus Stop</a></li>
                          <li><a href="#">Airport</a></li>
                          <li><a href="#">Railway Station</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12"> 
                        <img src="/assets/map-detail.png" class="img-responsive img-thumbnail" alt="Google Map"> 
                    </div>
                </div>
            </div>
        </section>
        <section class="similer-stays ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <h5 class="maint-ti">Similiar Stays</h5>
                    </div>
                    <% @similar_stays.each do |similar_stays| %>
                    <div class="portfolio recent" data-cat="recent">
                    <div class="col-sm-4">
                    <div class="product-with-slider">
                        <% if similar_stays.images.present? %>
                            <div class="search-list slider">
                            <% similar_stays.images.each do |img| %>
                                <div class="fir-prod-img">
                                  <a href="<%= similar_stays.id %>">
                                    <%= image_tag img.image.list.url, class: 'img-responsive' %>
                                    </a>
                                </div>
                            <% end %>
                            </div>
                        <% end %>
                            <div class="product-detail-spec">
                                <div class="pull-left price-fast"> 
                                  <% if similar_stays.price? %>
                                    <b><i class="fa fa-fw" aria-hidden="true" title="Copy to use rupee"></i> <%= similar_stays.price %> <%= similar_stays.price_charge_type %></b> 
                                  <% end %>
                                    <span class="feeling-fast"> <i class="fa fa-fw" aria-hidden="true" title="Copy to use clock-o"></i> <em>Filling Fast</em> <b>2 Rooms Left</b> </span> 
                                </div>
                                <div class="pull-right revi-rat-loc">
                                    <div class="review-ratongs"> 
                                        <em>2 Reviews</em> <span> <i class="fa fa-fw" aria-hidden="true" title="Copy to use star"></i> <i class="fa fa-fw" aria-hidden="true" title="Copy to use star"></i> <i class="fa fa-fw" aria-hidden="true" title="Copy to use star"></i> <i class="fa fa-fw" aria-hidden="true" title="Copy to use star-half-o"></i> <i class="fa fa-fw" aria-hidden="true" title="Copy to use star-o"></i> </span> 
                                    </div>
                                    <div class="prid-name-"> 
                                        <b>StayHook <%= similar_stays.room_for %></b> <em><%= similar_stays.vendor.address %>, <%= similar_stays.vendor.try(:city).try(:name) %></em> 
                                    </div>
                                </div>
                            </div>
                    </div>
                    </div>
                    </div>
                    
                    <% end %>
                </div>
            </div>
        </section>
    </div>
</div>
<script type='text/javascript'>
  $(document).ready(function(){

        $('[id^= post_fav_button_],[id^= post_disfav_button_]').on('click',function(){
        
            room_id_and_user_id  = $(this).attr('id').replace('post_fav_button_','');
            room_id_and_user_id  = room_id_and_user_id.replace('post_disfav_button_','');
            
 
            var res = room_id_and_user_id.split("_"); 
            if(res[1]==""){
                 alert("Please Sign in to make Favourite");    
            }
            
            $.ajax({
                type: "post",
                url: "<%= save_like_path %>" ,
                data: {'room_id': res[0],'user_id': res[1]},
                success: function(data){
                    //alert(data.res)
                    if(data.res == 1) {
                        $('#post_fav_button_'+room_id_and_user_id).addClass('hidden');
                        $('#post_disfav_button_'+room_id_and_user_id).removeClass('hidden');
                    }else{
                        $('#post_fav_button_'+room_id_and_user_id).removeClass('hidden');
                        $('#post_disfav_button_'+room_id_and_user_id).addClass('hidden');
                    }
                }
            });
        });

        $('[id^= review_submit]').on('click',function(){
            
            var name  = $('#name').val();
            var room_id  = $('#room_id').val();
            var review  = $('#review').val();
            var user_id  = $('#user_id').val();
            var rating  = $('#ratingvalue').val();
            
            
            if(user_id==""){
                 alert("Please Signin to give review");    
            }
            else if(name==""){
                 alert("Please enter the name");    
            }
            else if(review==""){
                 alert("Please enter the review");    
            }
            else{
                $.ajax({
                    type: "post",
                    url: "<%= review_submit_path %>" ,
                    data: {'name': name,'review': review,'room_id': room_id,'user_id': user_id,'rating': rating},
                    success: function(data){
                        
                        location.reload(); 
                        
                    }
                });
            }
        });

        $('[id^= load_more]').on('click',function(){
            
            $('#normal').addClass('hidden');
            $('#more').removeClass('hidden');
            
        });
        $('[id^= view_less]').on('click',function(){
            
            $('#more').addClass('hidden');
            $('#normal').removeClass('hidden');
            
        });
        $('[id^= apply]').on('click',function(){
            
            var coupon_code  = $('#coupon_code').val();
            var user_id  = $('#user_id').val();
            if(user_id==""){
                 alert("Please Signin to apply offers");    
            }
            else if(coupon_code==""){
                 alert("Please enter coupon code");    
            }
            
            else{
                $.ajax({
                    type: "post",
                    url: "<%= discount_offers_path %>" ,
                    data: {'coupon_code': coupon_code},
                    success: function(data){
                        
                        alert(data.message);

                        $("#discount_value").val(data.data.discount_value);
                        
                        $("#discount_type").val(data.data.discount_type);

                        $("#coupon_data").val(data.data.coupon_code);
                        var price = $('#price').val();
                        var discount = $('#discount_value').val();
                        var discount_type = $('#discount_type').val();
                        //alert(discount_type);
                        
                        if(discount_type=='Amount'){
                            var total_price = price - discount;
                            //alert(total_price);
                            
                            if(price>=discount){
                                $("#total_price").val(total_price);
                                $("#total-val-span").html(total_price);
                                $("#discount-val-span").html(discount);
                                $("#discount_price").val(discount);
                            }else{
                                var total_price = 0;
                                $("#total_price").val(total_price);
                                $("#total-val-span").html(total_price);
                                $("#discount-val-span").html(price);
                                $("#discount_price").val(discount);
                            }
                           
                            
                        }
                        if(discount_type=='Percent'){
                            var discount_amount = discount/100*price;

                            var total_price = price - discount_amount;
                            //alert(total_price);
                            
                            if(price>=discount_amount){
                                $("#discount_price").val(discount_amount);
                                $("#total-val-span").html(total_price);
                                $("#discount-val-span").html(discount_amount);
                                $("#total_price").val(total_price);
                            }else{
                                var total_price = 0;
                                $("#discount_price").val(discount_amount);
                                $("#total-val-span").html(total_price);
                                $("#discount-val-span").html(price);
                                $("#total_price").val(total_price);
                            }
                            
                        }
                    }
                });
            }
        });
        $(document).on('submit', '#booking_form', function(e) {
        
        //do stuff here
            var check_in  = $('#datetimepicker1_input').val();
            var check_out  = $('#datetimepicker2_input').val();
            var room_id  = $('#room_id').val();
            
            
            
            if(check_in==""){
                 alert("Please enter checkin date");
                 return false;

            }
            if(check_out==""){
                 alert("Please enter checkout date");  
                 return false;  
            }
            else{
                $.ajax({
                    type: "post",
                    url: "<%= check_availability_path %>" ,
                    data: {'check_in': check_in,'check_out': check_out,'room_id': room_id},
                    success: function(data){
                        if(data.res==1){
                            alert("Room Not Available in this period");
                            return false;    
                        }
                        else{
                            return true;
                        }
                    }
                });
            }


        });
        /*$('[id^= check_available]').on('click',function(){
            
            var check_in  = $('#datetimepicker1_input').val();
            var check_out  = $('#datetimepicker2_input').val();
            
            
            
            if(check_in==""){
                 alert("Please enter checkin date");

            }
            if(check_out==""){
                 alert("Please enter checkout date");    
            }

            
        });*/
    })
</script>
<script>
//Date picker

$(function () {
  
    $('#show_user_rating_star').raty({ score: 0, click: function(score, evt) {
        $('#ratingvalue').val(score);
    } });

        $('#datetimepicker1').datetimepicker({

            startDate:  new Date()
        });
        $('#datetimepicker2').datetimepicker({ 
             //startDate:  $('#datetimepicker1_input').val()
        });

     



       /* $("#datetimepicker1").on("change", function (e) {

            //console.log(e);
            $('#datetimepicker2').data("DateTimePicker").minDate($("#datetimepicker2_input").val());
        });
        $("#datetimepicker2").on("change", function (e) {
          //  alert($("#datetimepicker1_input").val());
            $('#datetimepicker1').data("DateTimePicker").maxDate($("#datetimepicker1_input").val());
        });*/

    /*$('#datetimepicker1').datetimepicker({
    startDate: '-0d',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    dateFormat: 'mm-dd-yy', 
    changeMonth: true,
    changeYear: true,
    yearRange: '-70:+10',
    });

    
   
    $("#datetimepicker1").on("change", function (e) {
        alert(e);
        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("change", function (e) {
        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });

   

    //var check_in = $('#check_indate').val();
    var check_in = '-0d';
    
    $('#datetimepicker2').datetimepicker({
    
    startDate: check_in,
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    dateFormat: 'mm-dd-yy', 
    changeMonth: true,
    changeYear: true,
    yearRange: '-70:+10',
    });*/
    
$('.top-main-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: true,
  fade: true,
  asNavFor: '.top-thumb-slider'
});
$('.top-thumb-slider').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.top-main-slider',
  dots: false,
  arrows: false,
  centerMode: true,
  focusOnSelect: true
});
$('.photobooking').slick({
  dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: false
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
  ]
});
});
$('.search-list').slick();
// Booking Page Header Fix
 function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                shrinkOn = 250,
                header = document.querySelector(".detail-mor-menus");
            if (distanceY > shrinkOn) {
                classie.add(header,"book-header");
            } else {
                if (classie.has(header,"book-header")) {
                    classie.remove(header,"book-header");
                }
            }
        });
    }
window.onload = init();



</script>

<script type="text/javascript">
  $(document).ready(function(){
       
    var validator = $("#booking_form").validate({
      ignore: ':hidden:not(select)',
      errorElement: 'span',
      errorClass: 'error',
      rules: {
        "user[check_in]": {
          required: true,
          
        },
        "user[check_out]": {
          required: true
        },
      },
      messages: {
        "user[check_in]": {
          required: "Email can't be blank",
          
        },
        "user[check_out]": {
          required: "First name can't be blank"
        },  
      },
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });
</script>

